spacy
regex
nltk
pyspellchecker
nvidia-cudnn-cu11~=8.9.6
tensorflow[and-cuda]
tensorflow_text
keras
protobuf
tensorflow-datasets
tensorflow-estimator
transformers
bertviz
numpy
pandas
faiss-cpu
openai
langchain
matplotlib
langchain-community
langchain-core
ipython
web-browser